@import "tailwindcss";

@theme {
  --color-primary: #3b82f6; /* Default Blue */
  --color-secondary: #facc15; /* Default Yellow */
  --color-accent: #ef4444; /* Default Red */
}

/* Base resets */
body {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #f3f4f6; /* Gray 100 as neutral background */
}
